NET "anode[0]" LOC = K14;
NET "anode[1]" LOC = M13;
NET "anode[2]" LOC = J12;
NET "anode[3]" LOC = F12;
NET "clk" LOC = B8;
NET "rst" LOC = G12;
NET "sevenSegment[0]" LOC = N13;
NET "sevenSegment[1]" LOC = M12;
NET "sevenSegment[2]" LOC = L13;
NET "sevenSegment[3]" LOC = P12;
NET "sevenSegment[4]" LOC = N11;
NET "sevenSegment[5]" LOC = N14;
NET "sevenSegment[6]" LOC = H12;
NET "sevenSegment[7]" LOC = L14;
NET "upDown" LOC = P11;
